
@{
    ViewBag.Title = "ReporteParametros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script>

        $(document).ready(function () {

            cargarCombo();

            var combo = $("#comboParametro");

            //Incrustar en la page
            $("#btnVer").on("click", function () {
                if (combo.val() == "") {
                    alert("Debe seleccionar una opcion");
                } else {
                    var item = combo.val();
                    var url = "@Url.Action("VerReporteParam", "Producto")?parametro=" + item;
                    $("#ReporteParametro").attr("src", url).load();
                }
            });

            //Descargar

            $("#btndescargar").on("click", function () {
                if (combo.val() == "") {
                    alert("Debe seleccionar una opcion");
                } else {
                    var item = combo.val();
                    var url = "@Url.Action("VerReporteParam", "Producto")?parametro=" + item;
                    window.open(url);
                }
            });

        });










        function cargarCombo() {
            $.ajax({
                url: "@Url.Action("GetCategorias", "Categorias")",
                dataType: "JSON",
                type: "GET"
            }).done(function (resp) {
                console.log(resp);

                var data = JSON.parse(JSON.stringify(resp));
                var opciones = "";

                for (i = 0; i < data.resultado.length; i++) {
                    opciones += "<option value='" + data.resultado[i] + "'>" + data.resultado[i] + "</option>";
                }

                $("#comboParametro").append(opciones);

            }).fail(function () {
                console.log("error");
            });

        }
    </script>
}

<h2>ReporteParametros</h2>


<hr>

<input type="button" id="btnVer" value="Ver Reporte" class="btn btn-success" />

<input type="button" id="btndescargar" value="Descargar Reporte" class="btn btn-warning" />
<br>
<br>
<br>


<select id="comboParametro" class="form-control">
    <option value="">Seleccione</option>
</select>


<hr>

<iframe id="ReporteParametro" style="width: 100%; height:600px;" frameborder="0" scrolling="yes">
</iframe>
